[include mainsail.cfg]
[include Macros/stealthburner_leds.cfg]
[include Macros/printStart.cfg]
#[include EBB36.cfg]
[include Macros/bedfans.cfg]
[include nitehawk-36.cfg]
[include shaketune.cfg]
[include motors.cfg]
[include config_backup.cfg]
[include Macros/loading.cfg]

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_17001C001650344D30353320-if00
restart_method: command

[printer]
kinematics: corexy
max_velocity: 300  
max_accel: 6200
max_z_velocity: 15       
max_z_accel: 350
square_corner_velocity: 5.0

#####################################################################
#   Beacon
#####################################################################

[beacon]
serial: /dev/serial/by-id/usb-Beacon_Beacon_RevH_A36FFC555154364134202020FF143C24-if00
x_offset: 0
y_offset: 22
mesh_main_direction: x
mesh_runs: 2
home_method: contact
home_method_when_homed: proximity
home_autocalibrate: unhomed
contact_max_hotend_temperature: 180
home_xy_position: 150, 150
home_z_hop: 5
home_z_hop_speed: 30
home_xy_move_speed: 300

[resonance_tester]
accel_chip: beacon
probe_points: 150, 150, 20

#####################################################################
#   Bed Heater
#####################################################################

##  SSR Pin - HE1
##  Thermistor - TB
[heater_bed]
heater_pin: PA1
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PF3
max_power: 1.0
min_temp: 0
max_temp: 120
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769

[bed_mesh]
speed: 700
horizontal_move_z: 5
mesh_min: 25,25
mesh_max: 275,265
fade_start: 0.6
fade_end: 10.0
# probe_count: 25,25
probe_count: 5,5
algorithm: bicubic

#####################################################################
#   Fan Control
#####################################################################

##  Controller fan - FAN2
[controller_fan controller_fan]
pin: PD12
kick_start_time: 0.5
heater: heater_bed
fan_speed: 1.0

#####################################################################
#   LED Control
#####################################################################

[output_pin caselight]
## Chamber Lighting - CNC_FAN5
pin: PD15
pwm:true
shutdown_value: 0
value:1.0
cycle_time: 0.01

#####################################################################
#   Additional Sensors
#####################################################################

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[temperature_sensor chamber]
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PF4
#pullup_resistor: 4700



#####################################################################
#   Homing and Gantry Adjustment Routines
#####################################################################
[idle_timeout]
timeout: 1800

[exclude_object]

[quad_gantry_level]
gantry_corners:
   -60,-10
   360,370
points:
   25,10
   25,245
   275,245
   275,10

speed: 700
horizontal_move_z: 5
retries: 5
retry_tolerance: 0.01
max_adjust: 10

#####################################################################
#   Input Shaper
#####################################################################
[input_shaper]
shaper_freq_x: 67.7 #max acel 8600
shaper_freq_y: 53.8 #max acel 5300
shaper_type:ei

#####################################################################
#   Axis Twist
#####################################################################
[axis_twist_compensation]
calibrate_start_x: 20
calibrate_end_x: 280
calibrate_y: 150


#--------------------------------------------------------------------

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 64.345
#*# pid_ki = 3.131
#*# pid_kd = 330.572
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 36.297
#*# pid_ki = 4.245
#*# pid_kd = 77.586
#*#
#*# [beacon model default]
#*# model_coef = 1.61701108630733,
#*# 	  2.007969975245599,
#*# 	  0.8381521567830664,
#*# 	  0.3068598847409829,
#*# 	  0.0625864278441667,
#*# 	  -0.014353201795783864,
#*# 	  -0.036462583468202595,
#*# 	  0.0997882036090495,
#*# 	  0.11879760555724182,
#*# 	  0.0012063555349209716
#*# model_domain = 1.8683415375256923e-07,1.9324854910530196e-07
#*# model_range = 0.200208,5.000208
#*# model_temp = 24.947970
#*# model_offset = 0.00000
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.027404, -0.032821, -0.026779, -0.027612, -0.032196
#*# 	0.009679, 0.002388, 0.000513, 0.006554, 0.004263
#*# 	0.008846, -0.001779, -0.004696, 0.008221, 0.007596
#*# 	0.007388, -0.001154, -0.002404, 0.006138, 0.006763
#*# 	-0.038029, -0.057404, -0.044279, -0.032612, -0.023237
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 25.0
#*# max_x = 275.0
#*# min_y = 25.0
#*# max_y = 243.0
#*#
#*# [axis_twist_compensation]
#*# z_compensations = 0.013092, -0.022391, 0.009299
#*# compensation_start_x = 20.0
#*# compensation_end_x = 280.0
