[include print_start.cfg]
[include print_end.cfg]
[include bedfans.cfg]
[include stealthburner_leds.cfg]
[include tacho.cfg]

[gcode_macro G32]
gcode:
    SAVE_GCODE_STATE NAME=STATE_G32
    G90
    G28
    QUAD_GANTRY_LEVEL
    G28
    G0 X150 Y150 Z30 F3600
    RESTORE_GCODE_STATE NAME=STATE_G32

[gcode_macro LOAD_FILAMENT]
description: Load filament into the extruder
gcode:
    {% set speed = params.SPEED|default(300)|int %}
    {% set temp = params.TEMP|default(250)|int %}
    # Check if hotend is hot enough, heat if necessary
    {% if printer.extruder.temperature < temp %}
        M104 S{temp}
        M109 S{temp}
    {% endif %}
    SAVE_GCODE_STATE NAME=load_state
    M83 ; Relative extrusion mode
    G1 E50 F{speed} ; Fast load through bowden/tube
    G1 E30 F150 ; Slow prime/purge near nozzle
    RESTORE_GCODE_STATE NAME=load_state

[gcode_macro UNLOAD_FILAMENT]
description: Unload filament from the extruder
gcode:
    {% set speed = params.SPEED|default(300)|int %}
    {% set temp = params.TEMP|default(250)|int %}
    # Check if hotend is hot enough, heat if necessary
    {% if printer.extruder.temperature < temp %}
        M104 S{temp}
        M109 S{temp}
    {% endif %}
    SAVE_GCODE_STATE NAME=unload_state
    M83 ; Relative extrusion mode
    G1 E10 F300 ; Extrude slightly to form a clean tip
    G1 E-20 F3000 ; Fast jerk out of melt zone
    G1 E-50 F1800 ; Retract remaining distance out of extruder gears
    RESTORE_GCODE_STATE NAME=unload_state
